@media only screen and (max-width: 1024px) {
    nav .fa-bars {
      display: block;
    }
    .nav-items,
    .signin-btn {
      display: none;
    }
  }
  @media only screen and (max-width: 768px) {
    .imgs-div img[alt='backdrop'] {
      display: none;
    }
    .left-section {
      width: 80%;
    }
    .imgs-div img[alt='intro-img'] {
      position: absolute;
      right: 5%;
      bottom: 35%;
      width: 45%;
      z-index: 9;
    }
  }
  